* {
  margin: 0;
  padding: 0;
}
body {
  background: #a4b494;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}
.container {
  width: 80%;
  margin: 50px auto;
}
.contact-box {
  background: white;
  display: flex;
}
.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}
.contact-right {
  flex-basis: 40%;
  padding: 40px;
  background: #519872;
  color: white;
}

h1 {
  margin-bottom: 10px;
}
.container p {
  margin-bottom: 40px;
}
.input-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.input-row .input-group {
  flex-basis: 45%;
}
input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #cccccc;
  outline: none;
  padding-bottom: 5px;
}
textarea {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 1px solid #cccccc;
}
label {
  margin-bottom: 6px;
  display: block;
  color: teal;
}

button {
  background: #519872;
  width: 100px;
  height: 35px;
  border: none;
  outline: none;
  color: white;
  border-radius: 30px;
  margin-top: 20px;
  box-shadow: 0px 5px 15px 0px rgba(28, 0, 128, 0.3);
}
.contact-left h3 {
  color: #519872;
}

tr td:first-child {
  padding-right: 20px;
}
tr td {
  padding-top: 20px;
}
